= current_user.email
= form_for(article, url: articles_create_path, html: { multipart: true }) do |f|
  - if article.errors.any?
    #error_explanation
      %h2
        = pluralize(article.errors.count, "error")
        prohibited this product from being saved:
      %ul
        - article.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :content
    = f.text_field :content
  .field
    - if article.drawing?
      .thumbnail
        = image_tag article.drawing.url
    %br/
    = f.label :drawing
    %br/
    = f.file_field :drawing
  .actions
    = f.submit
