= form_for(article, url: articles_create_path, html: { multipart: true }) do |f|
  -# TODO エラーは上部出したほうがいい気がする
  - if article.errors.any?
    #error_explanation
      %h2
        = pluralize(article.errors.count, "error")
        prohibited this product from being saved:
      %ul
        - article.errors.full_messages.each do |message|
          %li= message
  .post-form__body-preview
    -if false
      -# 本当はここにブラウザ上で書くペインタを作りたい！！！

    -else
      .post-form__body-preview-title
        %a ブラウザ上で書く
        | アップロード
      -if false
        -# プレビューを表示させたい
      = f.file_field :drawing
      = f.hidden_field :drawing_cache
  .post-from__body-content
    = f.text_area :content, placeholder: "キャプションを入力できます"
  .post-form__body-action
    = f.submit "投稿", class: "btn btn-primary", id: "submit_button"
