%div{class:"sidebar"}
  = @user.email
  = link_to "write article", articles_new_path
%div
  - @articles.each do |article|
    %div{class:"article"}
      %div{class:"article-header"}
      %div{class:"article-drawing"}
        = image_tag article.drawing.url
      %div{class:"article-content"}
        = article.content
      %div{class:"article-meta"}
        = article.created_at
        %div{class:"buttons"}
          btn
